@font-face {
    src: url("fonts/balham/Balham.otf");
    font-family: "balham";
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

header {
    width: 100%;
    position: fixed;
    z-index: 1; /*garantia que nenhum elemento da página vai sobrepor o header*/
    font-size: 16px;
    transition: all 0.4s ease-out;
}

.max-header {
    height: 100px;
    background-color: #2574A9;
}

.min-header {
    height: 80px;
    background-color: #c5eff7;
}

.container {
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    padding: 0 60px;
    display: grid;
    grid-template-areas: 
        "logo ... nav";
    grid-template-columns: auto 1fr auto;
    align-content: center;
}

.logo {
    grid-area: logo;
}

.logo svg {
    fill-opacity: 0;
    transition: all 0.4s ease-out;
}

.max-logo svg {
    width: 320px;
    fill: #c5eff7;
}

.min-logo svg {
    width: 280px;
    fill: #2574A9;
}

.nav-bar {
    grid-area: nav;
    display: grid;
    align-content: center;
}

.nav-bar a {
    position: relative;
    font-size: 1em;
    text-transform: uppercase;
    transition: all 0.4s ease-out;
}

.nav-bar a::before {
    position: absolute;
    top: -10px;
    left: 0;
    content: "";
    width: 100%;
    height: 2px;
    background-color: currentColor;
    transform: scaleX(0);
    transform-origin: right;
    transition: all 0.4s ease-out;
}

.nav-bar a:hover::before {
    transform: scaleX(1);
}

.nav-bar a::after {
    position: absolute;
    bottom: -10px;
    left: 0;
    content: "";
    width: 100%;
    height: 2px;
    background-color: currentColor;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.4s ease-out;
}

.nav-bar a:hover::after {
    transform: scaleX(1);
}

.nav-bar ul {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 20px;
}

.max-nav a {
    font-size: 1em;
    color: #c5eff7;
}

.min-nav a {
    font-size: 0.875em;
    color: #2574A9;
}

.ghost {
    width: 100%;
    height: 100px;
    background-color: #cae1f1;
}

main {
    font-size: 20px; /*1em vai ser = a 20px dentro da main*/
}

main section {
    display: grid;
    justify-content: center; /*horizontal*/
    align-content: center; /*vertical*/
    font-family: "balham";
    font-size: 2em;
    color: #2574A9;
}

main section:nth-child(odd) {
    height: 100vh;
    background-color: #cae1f1;
}

main section:nth-child(even) {
    height: 100vh;
    background-color: #b7d5eb;
}

@media(max-width: 768px) {
    .max-header {
        height: 80px;
    }
    
    .min-header {
        height: 60px;
    }

    .container {
        position: relative;
        padding: 0 20px;
        grid-template-areas: 
            "logo ... mnu";
    }

    .max-logo svg {
        width: 220px;
    }
    
    .min-logo svg {
        width: 180px;
    }

    .menu {
        grid-area: mnu;
        display: grid;
        align-content: center;
    }

    .hamburguer {
        transition: all 0.4s ease-out;
        position: relative;
        width: 28px;
        height: 3px;
    }

    .hamburguer::before {
        transition: all 0.4s ease-out;
        content: " ";
        position: absolute;
        top: -8px;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: inherit;
    }

    .hamburguer::after {
        transition: all 0.4s ease-out;
        content: " ";
        position: absolute;
        top: 8px;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: inherit;
    }

    .max-hamburguer {
        background-color: #c5eff7;
    }

    .min-hamburguer {
        background-color: #2574A9;
    }

    .close-btn {
        transition: all 0.4s ease-out;
        transform: rotateZ(45deg);
    }

    .close-btn::before, .close-btn::after {
        transition: all 0.4s ease-out;
        transform: rotateZ(90deg);
        top: 0;
    }

    .nav-bar {
        position: absolute;
        left: 0;
        width: 100%;
        background-color: #2980b9;
        transform: translateX(-100%);
        transition: all 0.4s ease-out;
    }

    .max-nav {
        top: 80px;
        height: calc(100vh - 80px);
    }

    .min-nav {
        top: 60px;
        height: calc(100vh - 60px);
    }

    .menu-opened {
        transform: translateX(0);
    }

    .nav-bar ul {
        justify-content: center;
        grid-auto-flow: row;
        grid-gap: 80px;
    }

    .nav-bar li {
        text-align: center;
    }

    .max-nav a {
        font-size: 1em;
        color: #c5eff7;
    }
    
    .min-nav a {
        font-size: 1em;
        color: #c5eff7;
    }
}